name: tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  tests:
    name: tests-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-15, windows-2025]
    env:
      CARGO_INCREMENTAL: "0"
      NEXTEST_SHOW_PROGRESS: "none"
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2
        continue-on-error: true
        with:
          shared-key: ${{ runner.os }}-tests-${{ hashFiles('rust-toolchain.toml') }}
      - name: Cache cargo bin
        uses: actions/cache@v5
        continue-on-error: true
        with:
          path: ~/.cargo/bin
          key: ${{ runner.os }}-${{ hashFiles('rust-toolchain.toml') }}-cargo-bin
          restore-keys: |
            ${{ runner.os }}-${{ hashFiles('rust-toolchain.toml') }}-cargo-bin
      - name: Install nextest
        uses: taiki-e/install-action@cargo-nextest

      - name: Run checks
        run: scripts/check.sh --no-audit
